<%= stylesheet_link_tag "weigh_in" %>

<div class="newWeighIn">

<h1>Time to Weigh In</h1>


<%= render :partial => 'weigh_ins/update' %>

<%= link_to 'Back', weigh_ins_path %>

</div>

<footer>
  <p>Copyright &copy; 2013 Pierre-Antoine LaFayette</p>
</footer>
